{% extends 'layout.html' %} {% block body %}

<h1>Hola</h1>
<h2>Bienvenido {{ nombre }}</h2>

<h2>ACA MOSTRAREMOS EL IF - ELSE</h2>
{% if n==1 %}
<h1>SOL</h1>
{% else %}
<h1>AGUILA</h1>
{% endif %}

<h2>ACA MOSTRAREMOS EL FOR</h2>
{% for m in lista %}
<p>{{ m }}</p>
{% endfor %}

<h1>BIENVENIDO</h1>
<!--mandamos la direcciom de las rutas para enviar su valor-->
<form action="{{ url_for('contacto') }}" method="post">
  <input type="text" name="nombre" placeholder="Ingrese su nombre aqui" />
  <button>Enviar</button>
</form>

{% endblock %}
