<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi primer pagina</title>
  </head>
  <body>
    <h1>Hola Mundo</h1>

    <h2>Hola {{ nombre }} {{ apellido }} tienes {{ años }} años de edad</h2>

    <ol>
      <li>Nombre: {{ dic["nombre"] }}</li>
      <li>Edad: {{ dic["edad"] }}</li>
      <li>Pais: {{ dic["pais"] }}</li>
    </ol>
    <img src="../static/chica.jpg" alt="chica" />
  </body>
</html>
