<!DOCTYPE html>
<html lang='es'>
  <head>
    <title> 
{% block title %}
  
{% endblock %}
    </title>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--Mostramos el icono en nuestro Html-->
    <!--<link rel="shortcut icon" type="" href="../static/imgs/adn-brands.ico">-->
    <link rel="shortcut icon" type="" href="{{url_for('static', filename='imgs/adn-brands.ico')}}">

  </head>
<body>
  {% block content %}
    
  {% endblock %}
</body>



  <!--<body>-->
    <!--<h1>{{titulo}}</h1>-->
   <!--{% for value in Lista %}-->
  <!--<p> {{value}} </p>-->
   <!--{%endfor%} -->
  <!--</body>-->
<!--</html>-->
